.home {
  background-image: url("https://github.com/prateek1998/web/blob/master/school.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 50%;
  min-height: 1000px;
  position: relative;
  overflow: hidden;
}
.home .titles {
  width: 100%;
  height: 100%;
  min-height: 700%;
  position: absolute;
  padding: 0 200px;
  top: 0;
  /*background-color: rgb(0, 0, 0);*/
}
.home .titles-wrap {
  margin-top: 300px;
}
.home h1 {
  color: white;
  width: 100%;
  display: block;
  margin: 0%;
  font-size: 45px;
  font-weight: 500;
  line-height: 1.7;
}
.home h1 span {
  color: yellow;
}

.home h2 {
  color: wheat;
  display: block;
  font-size: 27px;
  line-height: 1.7;
}
.home h2 span {
  color: wheat;
}
.home p {
  color: wheat;
  margin-top: 20px;
  max-width: 450px;
  font-size: 18px;
}

.btn {
  color: wheat;
  background-color: yellow;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  padding: 0 40px;
  border-radius: 0;
  position: relative;
  display: inline-block;
  border: 2px solid yellow;
}
.btn:hover {
  color: tomato;
  text-decoration: none;
}
